
<h2> Welcome to the Thinker</h2>
<p>Let's get you registered</p>
<form action="~/Home/Details" method="post">
    @*I think*@
    <p>First Name <input type="text" name="FirstName" required /></p>
    <p>Last Name <input type="text" name="LastName" required /></p>
    <p>Password <input type="password" name="Password" required/></p>
    <p>Email <input type="email" name="Email" required/></p>
    <p>Age <input type="number" name="Age" min="0" max="130" required/></p>

    <input type="submit" name="Submit"/>
</form>

